extends layout

block content
  .jumbotron
    .container
      .row
        .col-md-7
          h1 Computer Not Working?
          p
            | Is your computer running slow? or maybe not at all? Call us for a quick quote.
          p
            a.btn.btn-primary.btn.lg(href='#') Read more
        .col-md-5
          img(src='images/mouse.png')
  .row
    .col-md-4
      .well
        h4 Hardware Problems?
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          | tempor incididunt ut labore et dolore magna aliqua.
    .col-md-4
      .well
        h4 Software Problems?
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          | tempor incididunt ut labore et dolore magna aliqua.
    .col-md-4
      .well
        h4 HPC Tune Up
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          | tempor incididunt ut labore et dolore magna aliqua.
