extends layout

block content
  h1.title Services
  
  each service, i in services
    div.well
      h3 #{service.name}
      p #{service.descrption}
      p 
        | Price Range: #{service.price_range}
