body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.row {
  padding-top: 30px;
}

.well {
  background-color: #e4e4e4;
  padding: 25px;
  border-radius: 5px;
  margin-bottom: 20px;
}

h1.title {
  margin-top: 15px;
  margin-bottom: 15px;
}

a {
  color: #00B7FF;
}
